html, body {
  height: 100%;
  width: 100%;
  background: #ecf0f5;
}

#narMenuDiv {
  display: none;
}

.containerDiv {
  width: calc(100% - 20px);
  text-align: center;
  margin: 10px;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  //max-height: calc(100vh - 195px);
}

#searchDiv1, #searchDiv2 {
  width: 100%;
}

.searchCrit {
  margin: 1vh 1vw 0;
  display: inline-block;
  width: 31%;
  vertical-align: top;
}

.pullRight {
  display: none;
}

.searchSel {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 0 5px;
}

.searchSel:focus, .searchSel:hover {
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -2px;
  outline-color: lightskyblue;
}

.searchSel.half {
  width: 28%;
  text-align: center;
}

#beginYearSel {
  margin-right: 3.5vw;
}

.fa {
  opacity: 0.7;
  color: gray;
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.fa:hover {
  opacity: 1;
  color: lightskyblue;
}

label {
  font-size: 0.9em;
}

.radioInput {
  margin-left: 5px;
  margin-right: 3px;
}

.searchButDiv {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.btn {
  background: #3c8dbc;
  border: 2px solid #aaaaaa;
  padding: 2px 12px;
}

.btn:focus {
  box-shadow: none;
}

.btn:active:hover {
  background: #286090;
  border-color: #cccccc;
}

.btn:hover {
  border-color: silver;
  background: #367fa9;
}

.btn i {
  color: white;
  opacity: 1;
  font-size: 1.3em;
  margin: 0;
}

.btn i:hover {
  color: white;
}

.btn h4 {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  color: white;
}

#noRecs {
  display: none;
}

#tableDiv {
  overflow-y: auto;
  height: calc(100vh - 337px);
}

#tableDiv th {
  position: -webkit-sticky;
  position: sticky;
  top: -0.5px;
  z-index: 2;
  background: #3c8dbc;
}

#tableDiv th:hover {
  cursor: pointer;
  background: #367fa9;
  color: lightskyblue;
}

#tableDiv th:active:hover {
  background: #286090;
}

#dc-table-graph {
  margin-bottom: 5px;
}

#dc-table-graph td:nth-child(1), #dc-table-graph th:nth-child(1) {
  width: calc(100% - 450px);
}

#dc-table-graph td:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}

#dc-table-graph td:nth-child(2), #dc-table-graph td:nth-child(4), #dc-table-graph th:nth-child(2), #dc-table-graph th:nth-child(4) {
  width: 150px;
}

#dc-table-graph td:nth-child(3), #dc-table-graph th:nth-child(3) {
  width: 155px;
}

#dc-table-graph td:nth-child(5), #dc-table-graph th:nth-child(5) {
  display: none;
}

#dc-table-graph td {
  padding: 5px 0;
  vertical-align: middle;
}

.table-header {
  background: #3c8dbc;
  color: white;
  font-size: 1.2em;
}

.table-header .fa {
  color: white;
  opacity: 1;
}

.dc-table-column a {
  color: #3c8dbc;
}

.dc-table-column a:hover {
  color: #367fa9;
}

.dc-table-column a:active:hover {
  color: #286090;
}

.dc-table-column i {
  font-size: 1.1em;
}

.dc-table-column i:hover {
  color: #367fa9;
}

.table-striped tbody tr:nth-of-type(even) {
  background: rgba(0,0,0,0.1);
}

.table-striped tbody tr:nth-of-type(odd) {
  background: white;
}

.table-hover tbody tr:hover {
  background: #ceebfd;
}

#footerContainer {
  display: none;
  border-top: 1px solid #aaaaaa;
}

.footerDiv {
  width: 27%;
  display: inline-block;
  vertical-align: middle;
}

#recShow {
  text-align: left;
}

#recShowText, #downloadText, #pagingText {
  display: inline-block;
  margin-right: 10px;
}

#recShowVal {
  width: 75px;
  text-align: center;
}

#download {
  text-align: center;
}

#paging {
  width: 44%;
  text-align: right;
}

#paging button {
  margin: 10px;
}

#Prev {
  margin-right: 0 !Important;
  margin-left: 0 !Important;
}

.tooltip {
  pointer-events: none;
}

.tooltip-inner li {
  text-align: left;
}

#resultsContainer .tooltip-inner {
  max-width: 60vw;
}